<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- MAIN CONTENT-->

    <div class="main-content mb-5">
        <h2 id="dash_head" class="text-center mb-5">HOTELS</h2>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <!-- CREATE ADMIN -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="item_image"><img src="/images/crest-hotel-annex.jpg" width="400px"
                                        height="200px" alt="">
                                </div>
                                {{!-- <div class="item_price text-center">From &#8358; 890</div> --}}
                                <div class="item_title text-center">Crest Hotels, Jos </div>
                                <div class="item_text p-4">
                                    Crest Hotel’s restaurant serves a variety of delicious local and continental dishes
                                    while the hotel bar is stocked with an array of alcoholic and non-alcoholic drinks.
                                    Crest Hotels and Gardens also house an ultra-modern event centre, a swimming pool
                                    and gym.
                                </div>
                                <div class="row">
                                    <a class="col-sm-4" href="/payment">
                                        <div class="btn btn-success px-4 mb-3">Book</div>
                                    </a>
                                    <div class="col-sm-3"></div>
                                    <a href="https://goo.gl/maps/1QPHq99DNbHUtk4NA" class="col-sm-5" style="color: limegreen">+googleMap</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="item_image"><img src="/images/elim.jpg" width="400px" height="180px" alt="">
                                </div>
                                {{!-- <div class="item_price text-center">From &#8358; 890</div> --}}
                                <div class="item_title text-center">Elim Top Suites, Jos</div>
                                <div class="item_text p-4">
                                    Elim Top Suites has rooms that are equipped with air-conditioner
                                    ornate lampshades, telephone, flat screen TV with channels, a fridge,
                                    and Categories of Executive and Classic complimentary breakfast.
                                </div>
                                <div class="row my-4">
                                    <a class="col-sm-4" href="/payment">
                                        <div class="btn btn-success px-4">Book</div>
                                    </a>
                                    <div class="col-sm-3"></div>
                                    <a href="https://goo.gl/maps/hHMr1qzKx7canZBY7" class="col-sm-5" style="color: limegreen">+googleMap</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="item_image"><img src="/images/lamonde-hotel-plateau-28228.jpg" width="400px"
                                        height="200px" alt=""></div>
                                {{!-- <div class="item_price text-center">From &#8358; 890</div> --}}
                                <div class="item_title text-center">Lamond Hotel, </div>
                                <div class="item_text p-4">
                                    La Monde Hotel has rooms that are of different categories.
                                    These categories range from Executive to Royal and Luxury Suite.
                                    These rooms are fully air-conditioned with comfortable beds and refrigerator
                                </div>
                                <div class="row my-4">
                                    <a class="col-sm-4" href="/payment">
                                        <div class="btn btn-success px-4">Book</div>
                                    </a>
                                    <div class="col-sm-3"></div>
                                    <a href="https://goo.gl/maps/LESHcRncemTAiWpL9" class="col-sm-5" style="color: limegreen">+googleMap</a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="item_image"><img src="/images/sharna.jpg" width="500px" height="200px"
                                        alt=""></div>
                                {{!-- <div class="item_price text-center">From &#8358; 590</div> --}}
                                <div class="item_title text-center">Sharna Hotels, Jos</div>
                                <div class="item_text p-4">
                                    Facilities include: Eight Large family suites comprising of 2 bedrooms each,
                                    a living room & a kitchen,16 executives suites comprising one bedroom each,a
                                    livingroom &
                                    kitchen. All rooms are air-conditioned, with hot and cold water sprinkler shower,
                                    mini bar,
                                    satelliteTV and WIFI connection.
                                </div>
                                <div class="row my-3">
                                    <a class="col-sm-4" href="/payment">
                                        <div class="btn btn-success px-4">Book</div>
                                    </a>
                                    <div class="col-sm-3"></div>
                                    <a href="https://goo.gl/maps/ZgRbpv2Mm4TwWWto9" class="col-sm-5" style="color: limegreen">+googleMap</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="item_image"><img src="/images/semshak-hotel-plateau-32301.jpg" width="600px"
                                        height="500px" alt=""></div>
                                {{!-- <div class="item_price text-center">From &#8358; 890</div> --}}
                                <div class="item_title text-center">Semshak Hotel,Jos</div>
                                <div class="item_text p-4">
                                    Each room is simple and chic with basic modern facilities. Services here
                                    include Restaurant, Bar/Lounge Security, Adequate parking, Luggage Storage, Room
                                    services, DSTV and Air Conditioned
                                    rooms.
                                </div>
                                <div class="row my-3">
                                    <a class="col-sm-4" href="/payment">
                                        <div class="btn btn-success px-4">Book</div>
                                    </a>
                                    <div class="col-sm-3"></div>
                                    <a href="https://goo.gl/maps/WpEM7wLTqEddrDjn7" class="col-sm-5" style="color: limegreen">+googleMap</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="item_image"><img src="/images/Hill Station Hotel Front View.jpg"
                                        width="400px" height="200px" alt="">
                                </div>
                                {{!-- <div class="item_price text-center">From &#8358; 290</div> --}}
                                <div class="item_title text-center">Hill Station Hotel, Jos</div>
                                <div class="item_text p-4">
                                    Rooms are decorated with lovely paintings & furnished with all the right
                                    amenities. We have a good restaurant, bar, 24 hour electricity, an event hall, sauna
                                    room, business
                                    centre, and meeting rooms.We offer dry cleaning services as well as room service.
                                </div>
                                <div class="row my-4">
                                    <a class="col-sm-4" href="/payment">
                                        <div class="btn btn-success px-4">Book</div>
                                    </a>
                                    <div class="col-sm-3"></div>
                                    <a href="https://goo.gl/maps/SKuJkEop3bzFJrXL9" class="col-sm-5" style="color: limegreen">+googleMap</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="item_image"><img src="/images/novel-suites-resorts-plateau-28277.jpg"
                                        width="400px" height="200px" alt="">
                                </div>
                                {{!-- <div class="item_price text-center">From &#8358; 290</div> --}}
                                <div class="item_title text-center">Novel Suites & Resort,Jos</div>
                                <div class="item_text p-4">
                                    Situated at plot 3621, Rayfield. It is a modern
                                    and Gorgeous
                                    hotel. Rooms are decorated with lovely paintings & furnished with all the right
                                    amenities.
                                    We have a good restuarant, bar, 24 hours electricity, an event hall, sauna room,
                                    business centre, meeting rooms & much more. We offer dry cleaning services as well
                                    as room services too for guests.
                                </div>
                                <div class="row my-4">
                                    <a class="col-sm-4" href="/payment">
                                        <div class="btn btn-success px-4">Book</div>
                                    </a>
                                    <div class="col-sm-3"></div>
                                    <a href="https://goo.gl/maps/ggdAPtVu6jD6F8i7A" class="col-sm-5" style="color: limegreen">+googleMap</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="item_image"><img src="/images/avalon-suites-plateau-19518.jpg" width="400px"
                                        height="200px" alt="">
                                </div>
                                {{!-- <div class="item_price text-center">From &#8358; 290</div> --}}
                                <div class="item_title text-center">Avalon Suites, Jos</div>
                                <div class="item_text p-4">
                                    We provide very spacious and comfortable rooms, king size beds and all the necessary
                                    amenities needed for a good stayfor our guests. We have adequate parking space for
                                    your cars and your life and
                                    property are surely safe with us. Other offering include; <br>
                                    Restaurant, Room service, Flat screen, Bar/Lounge, DSTV, Telephone, 24hr Electricity
                                    and Study Desk
                                </div>
                                <div class="row my-4">
                                    <a class="col-sm-4" href="/payment">
                                        <div class="btn btn-success px-4">Book</div>
                                    </a>
                                    <div class="col-sm-3"></div>
                                    <a href="https://goo.gl/maps/XwPnWmNoVBfZwvXo6" class="col-sm-5"  style="color: limegreen">+googleMap</a>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>
    <br>
    <hr>
    <h1 id="dash_head" class="text-center my-5">TOURISM</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="item_image"><img src="/images/sherehills_1.jpeg" width="400px" height="200px" alt="">
                </div>
                {{!-- <div class="item_price text-center">From &#8358; 890</div> --}}
                <div class="item_title text-center">SHERE HILLS, Jos </div>
                <div class="item_text p-4">

                </div>
                <div class="row">
                    <a class="col-sm-4" href="/payment">
                        <div class="btn btn-success px-4 mb-3">Book</div>
                    </a>
                    <div class="col-sm-3"></div>
                    <a href="https://goo.gl/maps/DUjzETDrXYxoPhLa7" class="col-sm-5"  style="color: limegreen">+googleMap</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="item_image"><img src="/images/kura_falls2.jpeg" width="400px" height="180px" alt="">
                </div>
                {{!-- <div class="item_price text-center">From &#8358; 890</div> --}}
                <div class="item_title text-center">Kura Falls, Jos</div>
                <div class="item_text p-4">

                </div>
                <div class="row my-4">
                    <a class="col-sm-4" href="/payment">
                        <div class="btn btn-success px-4">Book</div>
                    </a>
                    <div class="col-sm-3"></div>
                    <a href="https://goo.gl/maps/zwAmVxgk9gBbNeGE8" class="col-sm-5"  style="color: limegreen">+googleMap</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="item_image"><img src="/images/RIYOM.jpg" width="500px" height="200px" alt=""></div>
                {{!-- <div class="item_price text-center">From &#8358; 590</div> --}}
                <div class="item_title text-center">Riyom Rock, Riyom</div>
                <div class="item_text p-4">

                </div>
                <div class="row my-3">
                    <a class="col-sm-4" href="/payment">
                        <div class="btn btn-success px-4">Book</div>
                    </a>
                    <div class="col-sm-3"></div>
                    <a href="https://goo.gl/maps/PdGhcGfRomcut5CbA" class="col-sm-5"  style="color: limegreen">+googleMap</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="item_image"><img src="/images/museum.gif" width="400px" height="200px" alt=""></div>
                {{!-- <div class="item_price text-center">From &#8358; 890</div> --}}
                <div class="item_title text-center">Jos Museum,Jos </div>
                <div class="item_text p-4">

                </div>
                <div class="row my-4">
                    <a class="col-sm-4" href="/payment">
                        <div class="btn btn-success px-4">Book</div>
                    </a>
                    <div class="col-sm-3"></div>
                    <a href="https://goo.gl/maps/rfH1AcDHzWFZiAzz9" class="col-sm-5" style="color: limegreen">+googleMap</a>
                </div>

            </div>
        </div>




    </div>

    <!-- END MAIN CONTENT-->

    <!-- END PAGE CONTAINER-->

</div>
</div>