<body>

	<div class="super_container">

		<!-- Header -->

		<header class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<div class="header_container  d-flex flex-row align-items-center justify-content-start">

							<!-- Logo -->
							<div class="logo_container">
								<div class="logo">
									<a href="/">
										<div>PLATEAU</div>
										<div>tourism and hospitality</div>
									</a>
								</div>
							</div>

							<!-- Main Navigation -->
							<nav class="main_nav ml-auto">
								<ul class="main_nav_list">
									<li class="main_nav_item"><a href="/">Home</a></li>
									<li class="main_nav_item"><a href="/gallery">Gallery</a></li>
									<li class="main_nav_item active"><a href="/about">About us</a></li>
									<li class="main_nav_item"><a href="/contact">Contact</a></li>
									<li class="main_nav_item"><a href="/user/signup">Sign up</a></li>
									<li class="main_nav_item"><a href="/user/login">Login</a></li>
								</ul>
							</nav>
							<!-- Hamburger -->
							<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Menu -->

		<div class="menu_container menu_mm">

			<!-- Menu Close Button -->
			<div class="menu_close_container">
				<div class="menu_close"></div>
			</div>

			<!-- Menu Items -->
			<div class="menu_inner menu_mm">
				<div class="menu menu_mm">
					<div class="menu_search_form_container">
						<form action="#" id="menu_search_form">
							<input type="search" class="menu_search_input menu_mm">
							<button id="menu_search_submit" class="menu_search_submit" type="submit"><img
									src="/images/search_2.png" alt=""></button>
						</form>
					</div>
					<ul class="menu_list menu_mm">
					<li class="main_nav_item"><a href="/">Home</a></li>
					<li class="main_nav_item"><a href="/gallery">Gallery</a></li>
					<li class="main_nav_item active"><a href="/about">About us</a></li>
					<li class="main_nav_item"><a href="/contact">Contact</a></li>
					<li class="main_nav_item"><a href="/user/signup">Sign up</a></li>
					<li class="main_nav_item"><a href="/user/login">Login</a></li>
					</ul>

					<!-- Menu Social -->

					<div class="menu_social_container menu_mm">
						<ul class="menu_social menu_mm">
							<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-pinterest"
										aria-hidden="true"></i></a></li>
							<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-linkedin"
										aria-hidden="true"></i></a></li>
							<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-instagram"
										aria-hidden="true"></i></a></li>
							<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-facebook"
										aria-hidden="true"></i></a></li>
							<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-twitter"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>

					<div class="menu_copyright menu_mm">Plateau All rights reserved</div>
				</div>

			</div>

		</div>

		<!-- Home -->

		<div class="home">
			<div class="home_background parallax-window" data-parallax="scroll"
				data-image-src="/images/welcome to jos.jpeg" data-speed="0.8"></div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_content_inner">
								<div class="home_title">About us</div>
								<div class="home_breadcrumbs">
									<ul class="home_breadcrumbs_list">
										<li class="home_breadcrumb"><a href="index.html">Home</a></li>
										<li class="home_breadcrumb">About us</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About -->

		<div class="about">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title text-center">
							<h2>We Fuse Tradition With Technology</h2>
							<div>take a look at our story</div>
						</div>
					</div>
				</div>
				<div class="row about_row">
					<div class="col-lg-6 about_col order-lg-1 order-2">
						<div class="about_content">
							<h2>ABOUT US</h2>
							<p>
								Plateau is an online travel agency that is aimed at promoting tourism in
								Jos Plateau state. On Plateau,
								we help you find the ideal hotel or vacation spot as we provide tourism related
								activities such
								as hotel bookings and tourist destination recommendations to tourists intending to
								travel around Jos. <br>
								Our rating and reviews system ensures that users of the site are provided with the best
								services and they can always
								go through the opinions of others to decide which vacation spot/hotel suites them</p>
							<div class="button about_button"><a href="./gallery.html">Know More</a></div>
						</div>
					</div>
					<div class="col-lg-6 about_col order-lg-2 order-1">
						<div class="about_image">
							<img src="/images/museum_1.jpg" width="100%" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Services -->

		<div class="services">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title text-center">
							<h2>Popular services that we offer</h2>
							<div>take a look at these offers</div>
						</div>
					</div>
				</div>
				<div class="row icon_box_container">

					<!-- Icon Box -->
					<div class="col-sm-6 icon_box_col">
						<div class="icon_box">
							<div class="icon_box_image"><img src="/images/service_1.svg" class="svg"
									alt="https://www.flaticon.com/authors/monkik"></div>
							<div class="icon_box_title">Weekend trips</div>
							<p class="icon_box_text">Try Plateau and find already mapped out weekend trips
								destinations waiting for you .</p>
							<a href="#" class="icon_box_more">Read More</a>
						</div>
					</div>

					<!-- Icon Box -->
					<div class="col-sm-6 icon_box_col">
						<div class="icon_box">
							<div class="icon_box_image"><img src="/images/service_2.svg" class="svg"
									alt="https://www.flaticon.com/authors/monkik"></div>
							<div class="icon_box_title">Fun leisure trips</div>
							<p class="icon_box_text">At plateau, Leisure is our business, don't stress when finding that
								perfect holiday hot spot.</p>
							<a href="#" class="icon_box_more">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Newsletter -->

		<div class="newsletter">
			<div class="newsletter_background" style="background-image:url(/images/newsletter.jpg)"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="newsletter_content">
							<div class="newsletter_title text-center">Subscribe to our Newsletter</div>
							<div class="newsletter_form_container">
								<form action="#" id="newsletter_form" class="newsletter_form">
									<div
										class="d-flex flex-md-row flex-column align-content-center justify-content-between">
										<input type="email" id="newsletter_input" class="newsletter_input"
											placeholder="Your E-mail Address">
										<button type="submit" id="newsletter_button"
											class="newsletter_button">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>