<body>

	<div class="super_container">

		<!-- Home -->

		<div class="home">
			<div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/bridge.jpeg"
				data-speed="0.8"></div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_content_inner">
								<div class="home_title">Offers</div>
								<div class="home_breadcrumbs">
									<ul class="home_breadcrumbs_list">
										<li class="home_breadcrumb"><a href="/">Home</a></li>
										<li class="home_breadcrumb">Offers</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{!-- Events --}}
		<div class="page-section gallery-single-page mx-5">
			<h2 class="text-center mb-5">Events</h2>

			<div class="gallery-single-warp">
				<div class="row">

					{{!-- single event --}}

					<div class="col-md-3 p-0">
						<div class="gallery-single-slider owl-carousel">
							<img src="/images/Illum tarok.jpg" alt="">
							<p class="px-4">Ilum Otarok is an annual event that depicts the culture and tradition of the
								Tarok people of Plateau State. It has also been a uniting force for the Tarok people to
								come together as one family.
							</p>
						</div>
					</div>
					<div class="col-md-3 p-0">
						<div class="gallery-single-text">
							<h2>Ilum Otarok</h2>
							<ul>
								<li><strong>For:</strong> depicting the culture and tradition of the Tarok people</li>
								<li><strong>Date:</strong> March/April</li>
								<li><strong>Where?:</strong> Langtang North & South.<a
										href="https://goo.gl/maps/JmuMgg3ceGac4sEZ7" title="Click to view a Google Map"
										target="_blank">+googleMap</a></li>
							</ul>
						</div>
					</div>

					{{!-- single event --}}

					<div class="col-md-3 p-0">
						<div class="gallery-single-slider owl-carousel">
							<img src="/images/wushiri.jpeg" alt="">
							<p class="px-4">Also known as Ron /Kulere Festival the Wushiri cultural festival is held in
								thanksgiving for a bountiful
								harvest. It usually takes place in January and is celebrated by the Kulere ethnic group
								in the Bokkos LGA.
							</p>
						</div>
					</div>
					<div class="col-md-3 p-0">
						<div class="gallery-single-text">
							<h2>Wushiri Cultural Festival</h2>
							<ul>
								<li><strong>For:</strong> Bountifull harvest</li>
								<li><strong>Date:</strong> December/January</li>
								<li><strong>Where?:</strong> Bokkos. <a href="https://goo.gl/maps/YhknDhsTkaAuBFS37">
										+googleMap</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">

					{{!-- single event --}}

					<div class="col-md-3 p-0">
						<div class="gallery-single-slider owl-carousel">
							<img src="/images/Nzem berom.jpeg" alt="">
							<p class="px-4">The Nzem berom is a period when different cultural displays are exhibited
								from
								different parts of Berom land, especially in music, dance, arts and culture.
						</div>
					</div>
					<div class="col-md-3 p-0">
						<div class="gallery-single-text">
							<h2>Nzem Berom</h2>
							<ul>
								<li><strong>For:</strong> depicting the culture and tradition of the Berom people</li>
								<li><strong>Date:</strong> March/April</li>
								<li><strong>Where?:</strong> Jos North/South/ Barkin Ladi/Riyom <a
										href="https://goo.gl/maps/PrkUcwr3RNgUdnR57"> +googleMap</a></li>
							</ul>
						</div>
					</div>

					{{!-- single event --}}

					<div class="col-md-3 p-0">
						<div class="gallery-single-slider owl-carousel">
							<img src="/images/afizere1.jpg" alt="" height="240px">
							<p class="px-4">This event attracts dignitries from all works of life . Peple from far and
								near,
								tourists, Afizere play mates, etc makes up the large crowd. Notably, popularized here is
								the
								Asharwa dance that have gained so much popularity and fame not only in Nigeria but all
								over
								the world.
							</p>
						</div>
					</div>
					<div class="col-md-3 p-0">
						<div class="gallery-single-text">
							<h2>Igoon-Izere</h2>
							<ul>
								<li><strong>For:</strong> depicting the culture and tradition of the Afizere people</li>
								<li><strong>Date:</strong> January</li>
								<li><strong>Where?:</strong> Jos North/East<a
										href="https://goo.gl/maps/LHoeSjCyHgqpHTBK9">+googleMap</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>



		{{!-- Recipe & cuisines --}}

		<div class="page-section gallery-page">

			<h2 class="text-center mb-5">Cuisines & Recipes</h2>
			<div class="portfolio-gallery">
				<div class="gallery-item" data-toggle="modal" data-target="#food1">
					<img src="/images/AMORA.jpg" alt="">
					<div class="hover-links">
						<div class="site-btn sb-light" data-toggle="modal" data-target="#food1">AMUAM</div>
					</div>
				</div>
				<div class="gallery-item" data-toggle="modal" data-target="#food2">
					<img src="/images/pofori.jpg" alt="">
					<div class="hover-links">
						<div class="site-btn sb-light" data-toggle="modal" data-target="#food2">POFORI</div>
					</div>
				</div>
				<div class="gallery-item" data-toggle="modal" data-target="#food3">
					<img src="/images/gwote_2.jpg" alt="">
					<div class="hover-links">
						<div class="site-btn sb-light" data-toggle="modal" data-target="#food3">GWOTE</div>
					</div>
				</div>
				<div class="gallery-item" data-toggle="modal" data-target="#food4">
					<img src="/images/tuwon_shinkafa.jpg" alt="" height="320px">
					<div class="hover-links">
						<div class="site-btn sb-light" data-toggle="modal" data-target="#food4">TUWON SHINKAFA</div>
					</div>
				</div>
				<div class="gallery-item" data-toggle="modal" data-target="#food5">
					<img src="/images/Tuwon_dawa.jpg" alt="">
					<div class="hover-links">
						<div class="site-btn sb-light" data-toggle="modal" data-target="#food5">TUWON DAWA</div>
					</div>
				</div>
				<div class="gallery-item" data-toggle="modal" data-target="#food6">
					<img src="/images/Danwake.jpeg" alt="" width="500px" height="280px">
					<div class="hover-links">
						<div class="site-btn sb-light" data-toggle="modal" data-target="#food6">DAN WAKE</div>
					</div>
				</div>
			</div>
		</div>


		{{!-- Cusines And Recipes modal --}}


		{{!-- single recipe --}}
		<div class="modal fade" id="food1" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">AMUAM</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>Amuam or Amora is a popular delicacy among the Tarok people of Langtang local gorvenment in
							Plateau state,
							the process is always very simple but requires much carefulness because without that, you
							are going to end up with a lumpy porridge which is not what want.To prepare Amora, what you
							need to do is to combine all the ingredients in one pot and bring the stock to a boil, then
							add the dried starch to the boiling stock a little at a time and stir consistently in
							anti-clockwise direction while you watch the content thickened into a yummy porridge like in
							the picture.

						</p>
					</div>
					<div class="modal-footer">
						{{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
					</div>
				</div>

			</div>
		</div>


		{{!-- single recipe --}}
		<div class="modal fade" id="food2" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">POFORI</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>Miyan pofori is a groundnut soup with such an intresting dimension. The crunch of some
							groundnut pieces, the slight tanginess of "YAKWA" (zobo leaves)
							and so much more flavours.
						</p>
					</div>
					<div class="modal-footer">
						{{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
					</div>
				</div>

			</div>
		</div>


		{{!-- single recipe --}}
		<div class="modal fade" id="food3" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">GWOTE</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>Gwote when prepared in its traditional form, is made of yakuwa(sorrel leaves), acha(hungry
							rice) and garden egg as Its
							main ingredients. It is then served like porridge in calabash bowl and taken with calabash
							spoon(a type of gourd)
						</p>
					</div>
					<div class="modal-footer">
						{{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
					</div>
				</div>

			</div>
		</div>


		{{!-- single recipe --}}
		<div class="modal fade" id="food4" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">TUWON SHINKAFA</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>
							Tuwon shinkafa is a type of Nigerian dish from the northern part of Nigeria.It is a
							thick pudding prepared from a local rice that is soft and sticky, and is usually served with
							different types of soups like Miyan kuka.
						</p>
					</div>
					<div class="modal-footer">
						{{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
					</div>
				</div>

			</div>
		</div>


		{{!-- single recipe --}}
		<div class="modal fade" id="food5" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">TUWON DAWA</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>This is a side dish made with ground guinea-corn made thick and cassava. It is best eaten
							with soups like Kuka and okra. This meal is unique majorly because it is best prepared with
							firewood.
						</p>
					</div>
					<div class="modal-footer">
						{{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
					</div>
				</div>

			</div>
		</div>


		{{!-- single recipe --}}
		<div class="modal fade" id="food6" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">DAN WAKE</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>Dan Wake on its own is pretty tasteless just like fufu meals and it relies on a sauce or
							side dish for its taste just like our fufu meals rely on Nigerian Soups for their tastes.
							Usually Dan Wake is served with ground cayenne pepper (yaji), you can also use Suya Pepper,
							hardboiled eggs, sautéed vegetables: onions, cabbage, tomatoes; and you can even see some
							people crush stock cubes and sprinkle on top. Whatever floats your boat, the Dan Wake is
							game.
						</p>
					</div>
					<div class="modal-footer">
						{{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
					</div>
				</div>

			</div>
		</div>



		{{!-- sign in Form Modal --}}
		<div class="modal fade" id="login" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">



					<div class="card-body">

						<div class="modal-header">
							<h2>Login</h2>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<form method="POST" class="modal-body">
							<div class="input-group">
								<input class="input--style-1" type="text" multiple placeholder="ENTER USERNAME"
									name="usr-name" required>
							</div>

							<div class="input-group">
								<input class="input--style-1" type="password" placeholder="ENTER PASSWORD" name="pswd"
									required>
							</div>
							<div class="p-t-20 col-sm-12">
								<button class="btn btn--radius btn--green" type="submit">Login</button>

								<a href="">
									<p style="color: #57b846">Forgot Password?</p>
								</a>

								<a href="/user/signup">
									<p style="float: right; color: #57b846">Sign Up Instead</p>
								</a>
							</div>

						</form>

					</div>

				</div>
			</div>
		</div>



		<div class="newsletter">
			<!-- Image by https://unsplash.com/@garciasaldana_ -->
			<div class="newsletter_background" style="background-image:url(/images/newsletter.jpg)"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="newsletter_content">
							<div class="newsletter_title text-center">Subscribe to our Newsletter</div>
							<div class="newsletter_form_container">
								<form action="#" id="newsletter_form" class="newsletter_form">
									<div
										class="d-flex flex-md-row flex-column align-content-center justify-content-between">
										<input type="email" id="newsletter_input" class="newsletter_input"
											placeholder="Your E-mail Address">
										<button type="submit" id="newsletter_button"
											class="newsletter_button">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>