<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo mt-5">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-body">
                <h2 class="title text-center">Sign In</h2>
                <form method="POST">
                    <div class="input-group">
                        <input class="input--style-1" type="text" multiple placeholder="ENTER USERNAME" name="email"
                            required>
                    </div>

                    <div class="input-group">
                        <input class="input--style-1" type="password" placeholder="ENTER PASSWORD" name="password"
                            required>
                    </div>
                    <div class="p-t-20 col-sm-12">
                        <button class="btn btn--radius btn--green" type="submit">Login</button>

                        <a href="">
                            <p style="color: #57b846">Forgot Password?</p>
                        </a>

                        <a href="/user/signup">
                            <p style="float: right; color: #57b846">Sign Up Instead</p>
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>