
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo mt-5">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title text-center">Registration Info</h2>
                    <form  action="/user/signup" method="POST">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="NAME" name="name" required>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-1" type="text" multiple placeholder="ADDRESS"
                                        name="address" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-1 " type="tel" multiple placeholder="PHONE" name="phoneNumber"
                                        required>
                                </div>
                            </div>

                        </div>

                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-1" type="email" placeholder="ENTER MAIL" name="email"
                                        required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="NATIONALITY" name="nationality"
                                        required>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-1" type="password" multiple placeholder="ENTER PASSWORD"
                                        name="password" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-1" type="password" multiple
                                        placeholder="CONFIRM PASSWORD" name="password2" required>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
