<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            {{!-- <img src="/images/" alt="logo"> --}}
            <h2>PLATEAU</h2>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active ">
                    <a class="" href="/admin">
                        <i class="fas fa-user-circle"></i>Account</a>

                </li>
                <li>
                    <a href="/admin/statistics">
                        <i class="fas fa-chart-bar"></i>Statistics</a>
                </li>


                <li>
                    <a href="/admin/notify">
                        <i class="far fa-envelope"></i>Notify</a>
                </li>
                <li>
                    <a href="/admin/settings">
                        <i class="fas fa-cog"></i>Settings</a>
                </li>
                <li>
                    <a href="/admin/logout">
                        <i class="fas fa-sign-out-alt"></i>Log Out</a>
                </li>


        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->